@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: linear-gradient(90deg,#12c2e9,#c471ed,#f64f59);
    
}
#main-container{
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
    width: 800px;
    /* height: 500px; */
    padding-left: 20px;
    
}
h2{
    margin: 20px;
    margin-left: 0px;
}
.input{
    margin-bottom: 20px;
}
input{
    margin-left: 40px;
    height: 30px;
}
.total-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.first{
    margin-top: 50px;
}
.span{
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 40px;
}
.buttons{
    /* padding-left: 100px; */
    margin:20px;
    display: flex;
    justify-content:center;
    gap: 200px;

}
button{
    text-align: center;
    background-color: white;
    outline: 0;
    height: 30px;
    
}
.button-1{
    width: 150px;
    border: 0.5px solid;
}
.button-2{
    width: 100px;
    border: 0.5px solid;

}
@media(max-width:1000px){
    body{
        background: linear-gradient(180deg,#12c2e9,#c471ed,#f64f59);
    }
    #main-container{
        width: 90%;
        height: 530px;
    }
    .buttons{
        padding-left: 40px;
        gap: 100px;
    }
    input{
        margin-left: 0;
    }
    
}
@media(max-width:400px){
    body{
        background: linear-gradient(180deg,#12c2e9,#c471ed,#f64f59);
    }
    #main-container{
        width: 90%;
        height: 660px;
        /* margin: 0 auto; */
        margin-top:20px;
        margin-bottom:20px;

    }
    .buttons{
        padding-left: 0px;
        gap: 40px;
    }
    input{
        margin:10px;
        margin-left: 0;

    }
    
}