*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    color: black;
}
body{
    background: linear-gradient(90deg,#12c2e9,#c471ed,#f64f59);
    
}
#container{
    width: 100%;
}
.container{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

.heading{
    margin-bottom:50px;
    font-family: Arial, Helvetica, sans-serif;
}
.individual{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.positioning{
    margin-right:5%;
    margin-left: 5%;
}
label{
    padding: 4px;
    width: 350px;
    max-width: 100%;
}
select{
    background-color: lightgrey;
    border: none;
    height: 30px;
    width: 80%;
    color: black;
}
select:focus{
    outline: 0;
}
option{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    background-color: lightgrey;
    border: none;
    height: 30px;
    width: 80%;
    color: black;
}
input:focus{
    outline: 0;
}
.twice{
    display: flex;
    flex-direction: column;
    
}
.bottom{
    margin-bottom: 40px;
}
.size {
    height: 125px;
    text-align: start ;
}
.buttonsetting{
    display:grid;
    justify-content: center;
    align-items: center;
}
.button{
    width: 80px;
    margin-left: 48%;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 2%;
}
textarea{
    background-color: lightgrey;
    width: 280px;
    color: black;
    border:0px;
}
textarea:focus{
    outline: 0;
}
.header {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
    color: white;
    
	
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.fileChoose{
    width: 150px;
    height: 50px;
    margin:0px;
    background: linear-gradient(90deg,#12c2e9,#c471ed,#f64f59 50%);
    color: white;
    border-radius: 40px;
    outline: 0;
    border-color: lightgray;
    border: 1px solid white;
    margin-bottom:20px;
}
.card{
    display:flex;
    align-items:center;
    justify-content:center;
    width:80%;
    margin: 0 auto;
    background-color:white;
    padding:30px;
    border-radius:20px;
    box-shadow: 0px 0px 5px 5px lightgrey;
    margin-bottom:20px;
}
h2{
    margin-top: 20px;
    animation: animate ease-in-out 1s infinite alternate ;
}
@keyframes animate{
    0%{transform: rotate(3deg)}
    100%{transform: rotate(-3deg)}

}
@media (max-width:768px){
    .container{
        flex-direction: column;
        margin-left: 15%;
        margin-bottom: 0;
    }
    .positioning{
        margin-right:0%;
        margin-left: 0em;
    }
    .individual{
        margin-bottom:4%;
    }
    .size{
        height:30px;
    }
    textarea{
        width: 80%;
    }

}
